
.btn-nadaquever { 
  color: #FFFFFF; 
  background-color: #DC3545; 
  border-color: #A90212; 
} 
 
.btn-nadaquever:hover, 
.btn-nadaquever:focus, 
.btn-nadaquever:active, 
.btn-nadaquever.active, 
.open .dropdown-toggle.btn-nadaquever { 
  color: #FFFFFF; 
  background-color: #C31C2C; 
  border-color: #A90212; 
} 
 
.btn-nadaquever:active, 
.btn-nadaquever.active, 
.open .dropdown-toggle.btn-nadaquever { 
  background-image: none; 
} 
 
.btn-nadaquever.disabled, 
.btn-nadaquever[disabled], 
fieldset[disabled] .btn-nadaquever, 
.btn-nadaquever.disabled:hover, 
.btn-nadaquever[disabled]:hover, 
fieldset[disabled] .btn-nadaquever:hover, 
.btn-nadaquever.disabled:focus, 
.btn-nadaquever[disabled]:focus, 
fieldset[disabled] .btn-nadaquever:focus, 
.btn-nadaquever.disabled:active, 
.btn-nadaquever[disabled]:active, 
fieldset[disabled] .btn-nadaquever:active, 
.btn-nadaquever.disabled.active, 
.btn-nadaquever[disabled].active, 
fieldset[disabled] .btn-nadaquever.active { 
  background-color: #DC3545; 
  border-color: #A90212; 
} 
 
.btn-nadaquever .badge { 
  color: #DC3545; 
  background-color: #FFFFFF; 
}

.btn-muyparecidos { 
  color: #FFFFFF; 
  background-color: #28A745; 
  border-color: #007412; 
} 
 
.btn-muyparecidos:hover, 
.btn-muyparecidos:focus, 
.btn-muyparecidos:active, 
.btn-muyparecidos.active, 
.open .dropdown-toggle.btn-muyparecidos { 
  color: #FFFFFF; 
  background-color: #0F8E2C; 
  border-color: #007412; 
} 
 
.btn-muyparecidos:active, 
.btn-muyparecidos.active, 
.open .dropdown-toggle.btn-muyparecidos { 
  background-image: none; 
} 
 
.btn-muyparecidos.disabled, 
.btn-muyparecidos[disabled], 
fieldset[disabled] .btn-muyparecidos, 
.btn-muyparecidos.disabled:hover, 
.btn-muyparecidos[disabled]:hover, 
fieldset[disabled] .btn-muyparecidos:hover, 
.btn-muyparecidos.disabled:focus, 
.btn-muyparecidos[disabled]:focus, 
fieldset[disabled] .btn-muyparecidos:focus, 
.btn-muyparecidos.disabled:active, 
.btn-muyparecidos[disabled]:active, 
fieldset[disabled] .btn-muyparecidos:active, 
.btn-muyparecidos.disabled.active, 
.btn-muyparecidos[disabled].active, 
fieldset[disabled] .btn-muyparecidos.active { 
  background-color: #28A745; 
  border-color: #007412; 
} 
 
.btn-muyparecidos .badge { 
  color: #28A745; 
  background-color: #FFFFFF; 
}

.btn-distintos { 
  color: #FFFFFF; 
  background-color: #FD7E14; 
  border-color: #FFB147; 
} 
 
.btn-distintos:hover, 
.btn-distintos:focus, 
.btn-distintos:active, 
.btn-distintos.active, 
.open .dropdown-toggle.btn-distintos { 
  color: #FFFFFF; 
  background-color: #FF982E; 
  border-color: #FFB147; 
} 
 
.btn-distintos:active, 
.btn-distintos.active, 
.open .dropdown-toggle.btn-distintos { 
  background-image: none; 
} 
 
.btn-distintos.disabled, 
.btn-distintos[disabled], 
fieldset[disabled] .btn-distintos, 
.btn-distintos.disabled:hover, 
.btn-distintos[disabled]:hover, 
fieldset[disabled] .btn-distintos:hover, 
.btn-distintos.disabled:focus, 
.btn-distintos[disabled]:focus, 
fieldset[disabled] .btn-distintos:focus, 
.btn-distintos.disabled:active, 
.btn-distintos[disabled]:active, 
fieldset[disabled] .btn-distintos:active, 
.btn-distintos.disabled.active, 
.btn-distintos[disabled].active, 
fieldset[disabled] .btn-distintos.active { 
  background-color: #FD7E14; 
  border-color: #FFB147; 
} 
 
.btn-distintos .badge { 
  color: #FD7E14; 
  background-color: #FFFFFF; 
}

.btn-parecidos { 
  color: #FFFFFF; 
  background-color: #FFC107; 
  border-color: #FFF43A; 
} 
 
.btn-parecidos:hover, 
.btn-parecidos:focus, 
.btn-parecidos:active, 
.btn-parecidos.active, 
.open .dropdown-toggle.btn-parecidos { 
  color: #FFFFFF; 
  background-color: #FFDB21; 
  border-color: #FFF43A; 
} 
 
.btn-parecidos:active, 
.btn-parecidos.active, 
.open .dropdown-toggle.btn-parecidos { 
  background-image: none; 
} 
 
.btn-parecidos.disabled, 
.btn-parecidos[disabled], 
fieldset[disabled] .btn-parecidos, 
.btn-parecidos.disabled:hover, 
.btn-parecidos[disabled]:hover, 
fieldset[disabled] .btn-parecidos:hover, 
.btn-parecidos.disabled:focus, 
.btn-parecidos[disabled]:focus, 
fieldset[disabled] .btn-parecidos:focus, 
.btn-parecidos.disabled:active, 
.btn-parecidos[disabled]:active, 
fieldset[disabled] .btn-parecidos:active, 
.btn-parecidos.disabled.active, 
.btn-parecidos[disabled].active, 
fieldset[disabled] .btn-parecidos.active { 
  background-color: #FFC107; 
  border-color: #FFF43A; 
} 
 
.btn-parecidos .badge { 
  color: #FFC107; 
  background-color: #FFFFFF; 
}
